@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize text-black">Welcome To Razor Sharp Pizzas</h1>
    <h3>Razor Sharp Pizza, is the Pizza, For you and me</h3>
    <img src="~/img/pizza-man.png" alt="Alternate Text" width="200" height="200" />
    <br />
    <a asp-area="" asp-page="/Pizza" class="btn btn-primary"> Show Main Menu</a>
</div>
